.example-form {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    background-color: rgb(52, 52, 52);
    margin: 12px auto;
    padding: 8px;
  }
  
  .example-full-width {
    width: 100%;
  }
 

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: #212a30; /* Green header */
    color: white;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  /* .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  } */
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #364249;
  }
  
  .table-input {
    width: 95%;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* .table-input:focus {
    border-color: #003598;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 152, 121, 0.5);
  }
   */