<form [formGroup]="networkForm" (ngSubmit)="onSubmit()" style="width: 50%; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; background-color: #f9f9f9;">
  <div style="margin-bottom: 15px;">
    <label for="fullName">Name:</label>
    <input id="fullName" formControlName="fullName" style="width: 97%; padding: 10px; border: 2px solid #ddd; border-radius: 6px;">
    <div *ngIf="networkForm.get('fullName')?.invalid && networkForm.get('fullName')?.touched" style="color: red;">
      Name is required
    </div>
  </div>

  <div style="margin-bottom: 20px;">
    <label for="description">Description:</label>
    <input id="description" formControlName="description" style="width: 97%; padding: 10px; border: 2px solid #ddd; border-radius: 6px;">
    <div *ngIf="networkForm.get('description')?.invalid && networkForm.get('description')?.touched" style="color: red;">
      Description is required
    </div>
  </div>

</form>
